{
  "name": "magazine-newspaper",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://127.0.0.1/wordpress/"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "ftp.itsdancedrick.webstarterz.com",
      "port": 21,
      "user": "steelhawksadmin@steelhawks.site",
      "password": "Alegroso101"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "404.php",
        "ctime": "2018-08-04T14:25:04.744Z",
        "mtime": "2018-08-04T14:25:04.744Z",
        "size": 745
      },
      {
        "file": "archive.php",
        "ctime": "2018-08-10T15:54:56.633Z",
        "mtime": "2018-08-04T14:25:04.746Z",
        "size": 2063
      },
      {
        "file": "changelog.txt",
        "ctime": "2018-08-04T14:25:04.820Z",
        "mtime": "2018-08-04T14:25:04.820Z",
        "size": 2431
      },
      {
        "file": "comments.php",
        "ctime": "2018-08-04T14:25:04.822Z",
        "mtime": "2018-08-04T14:25:04.822Z",
        "size": 3182
      },
      {
        "file": "contact.php",
        "ctime": "2018-08-06T15:36:47.023Z",
        "mtime": "2018-08-06T15:36:47.023Z",
        "size": 2302
      },
      {
        "file": "councils.php",
        "ctime": "2018-08-10T11:25:06.085Z",
        "mtime": "2018-08-10T11:25:06.085Z",
        "size": 10213
      },
      {
        "file": "css/animate.css",
        "ctime": "2018-08-04T14:25:04.829Z",
        "mtime": "2018-08-04T14:25:04.829Z",
        "size": 71089
      },
      {
        "file": "css/bootstrap-rtl.css",
        "ctime": "2018-08-04T14:25:04.836Z",
        "mtime": "2018-08-04T14:25:04.836Z",
        "size": 23874
      },
      {
        "file": "css/bootstrap.css",
        "ctime": "2018-08-04T14:25:04.842Z",
        "mtime": "2018-08-04T14:25:04.842Z",
        "size": 146082
      },
      {
        "file": "css/font-awesome.css",
        "ctime": "2018-08-04T14:25:04.849Z",
        "mtime": "2018-08-04T14:25:04.849Z",
        "size": 34773
      },
      {
        "file": "css/owl.carousel.css",
        "ctime": "2018-08-04T14:25:04.850Z",
        "mtime": "2018-08-04T14:25:04.850Z",
        "size": 4028
      },
      {
        "file": "email.php",
        "ctime": "2018-08-06T15:33:18.979Z",
        "mtime": "2018-08-06T15:33:18.979Z",
        "size": 36
      },
      {
        "file": "fonts/fontawesome-webfont.eot",
        "ctime": "2018-08-04T14:25:04.873Z",
        "mtime": "2018-08-04T14:25:04.873Z",
        "size": 75220
      },
      {
        "file": "fonts/fontawesome-webfont.svg",
        "ctime": "2018-08-04T14:25:04.886Z",
        "mtime": "2018-08-04T14:25:04.886Z",
        "size": 386421
      },
      {
        "file": "fonts/fontawesome-webfont.ttf",
        "ctime": "2018-08-04T14:25:04.892Z",
        "mtime": "2018-08-04T14:25:04.892Z",
        "size": 150920
      },
      {
        "file": "fonts/fontawesome-webfont.woff",
        "ctime": "2018-08-04T14:25:04.900Z",
        "mtime": "2018-08-04T14:25:04.900Z",
        "size": 89076
      },
      {
        "file": "fonts/fontawesome-webfont.woff2",
        "ctime": "2018-08-04T14:25:04.906Z",
        "mtime": "2018-08-04T14:25:04.906Z",
        "size": 70728
      },
      {
        "file": "fonts/FontAwesome.otf",
        "ctime": "2018-08-04T14:25:04.915Z",
        "mtime": "2018-08-04T14:25:04.915Z",
        "size": 123112
      },
      {
        "file": "fonts/glyphicons-halflings-regular.eot",
        "ctime": "2018-08-04T14:25:04.928Z",
        "mtime": "2018-08-04T14:25:04.928Z",
        "size": 20127
      },
      {
        "file": "fonts/glyphicons-halflings-regular.svg",
        "ctime": "2018-08-04T14:25:04.936Z",
        "mtime": "2018-08-04T14:25:04.936Z",
        "size": 108738
      },
      {
        "file": "fonts/glyphicons-halflings-regular.ttf",
        "ctime": "2018-08-04T14:25:04.942Z",
        "mtime": "2018-08-04T14:25:04.942Z",
        "size": 45404
      },
      {
        "file": "fonts/glyphicons-halflings-regular.woff",
        "ctime": "2018-08-04T14:25:04.950Z",
        "mtime": "2018-08-04T14:25:04.950Z",
        "size": 23424
      },
      {
        "file": "fonts/glyphicons-halflings-regular.woff2",
        "ctime": "2018-08-04T14:25:04.956Z",
        "mtime": "2018-08-04T14:25:04.956Z",
        "size": 18028
      },
      {
        "file": "footer.php",
        "ctime": "2018-08-11T03:07:35.501Z",
        "mtime": "2018-08-11T03:07:35.501Z",
        "size": 843
      },
      {
        "file": "front-page.php",
        "ctime": "2018-08-11T02:30:02.664Z",
        "mtime": "2018-08-04T14:25:04.960Z",
        "size": 190
      },
      {
        "file": "fullwidth.php",
        "ctime": "2018-08-04T14:25:04.961Z",
        "mtime": "2018-08-04T14:25:04.961Z",
        "size": 695
      },
      {
        "file": "functions.php",
        "ctime": "2018-08-04T14:25:04.963Z",
        "mtime": "2018-08-04T14:25:04.963Z",
        "size": 7492
      },
      {
        "file": "header.php",
        "ctime": "2018-08-10T15:36:59.027Z",
        "mtime": "2018-08-10T15:36:59.027Z",
        "size": 3835
      },
      {
        "file": "images/1.jpg",
        "ctime": "2018-08-10T15:11:10.024Z",
        "mtime": "2018-08-04T14:25:04.973Z",
        "size": 482106
      },
      {
        "file": "images/2.jpg",
        "ctime": "2018-08-04T14:25:04.980Z",
        "mtime": "2018-08-04T14:25:04.980Z",
        "size": 575664
      },
      {
        "file": "images/3.jpg",
        "ctime": "2018-08-10T15:02:37.723Z",
        "mtime": "2018-08-04T14:25:04.987Z",
        "size": 457455
      },
      {
        "file": "images/4.jpg",
        "ctime": "2018-08-10T15:11:23.676Z",
        "mtime": "2018-08-04T14:25:04.993Z",
        "size": 358413
      },
      {
        "file": "images/arrow.png",
        "ctime": "2018-08-04T14:25:04.994Z",
        "mtime": "2018-08-04T14:25:04.994Z",
        "size": 911
      },
      {
        "file": "images/background.jpg",
        "ctime": "2018-08-05T05:08:39.681Z",
        "mtime": "2018-06-12T15:55:57.900Z",
        "size": 86564
      },
      {
        "file": "images/banner-gb.png",
        "ctime": "2018-08-04T14:52:51.347Z",
        "mtime": "2018-08-04T14:52:51.347Z",
        "size": 37693
      },
      {
        "file": "images/favicon.png",
        "ctime": "2018-08-05T09:43:12.210Z",
        "mtime": "2018-08-05T09:43:12.210Z",
        "size": 141077
      },
      {
        "file": "images/logo-big.png",
        "ctime": "2018-08-04T14:46:55.177Z",
        "mtime": "2018-08-04T14:43:03.555Z",
        "size": 136962
      },
      {
        "file": "images/logo-plain.png",
        "ctime": "2018-08-05T05:30:37.009Z",
        "mtime": "2018-08-05T05:30:37.009Z",
        "size": 84619
      },
      {
        "file": "images/no-blog-thumbnail.jpg",
        "ctime": "2018-08-04T14:25:05.000Z",
        "mtime": "2018-08-04T14:25:05.000Z",
        "size": 16575
      },
      {
        "file": "images/acejo.jpg",
        "ctime": "2018-08-10T12:10:03.248Z",
        "mtime": "2018-08-05T09:54:29.524Z",
        "size": 2194577
      },
      {
        "file": "images/barcaspp.jpg",
        "ctime": "2018-08-10T12:10:03.250Z",
        "mtime": "2018-08-05T09:54:53.035Z",
        "size": 2093117
      },
      {
        "file": "images/caoyonanpp.jpg",
        "ctime": "2018-08-10T12:10:03.251Z",
        "mtime": "2018-08-05T09:57:35.605Z",
        "size": 1722337
      },
      {
        "file": "images/gruberpp.jpg",
        "ctime": "2018-08-10T12:10:03.234Z",
        "mtime": "2018-08-05T09:57:49.745Z",
        "size": 1912240
      },
      {
        "file": "images/guerrapp.jpg",
        "ctime": "2018-08-10T12:10:03.236Z",
        "mtime": "2018-08-05T09:58:03.206Z",
        "size": 1430759
      },
      {
        "file": "images/jimenopp.jpg",
        "ctime": "2018-08-10T12:10:03.237Z",
        "mtime": "2018-08-05T09:58:18.609Z",
        "size": 1524892
      },
      {
        "file": "images/osoriopp.jpg",
        "ctime": "2018-08-10T12:10:03.239Z",
        "mtime": "2018-08-05T09:58:31.891Z",
        "size": 1707053
      },
      {
        "file": "images/pedregosapp.jpg",
        "ctime": "2018-08-10T12:10:03.240Z",
        "mtime": "2018-08-05T09:58:46.204Z",
        "size": 1439842
      },
      {
        "file": "images/pinuelapp.jpg",
        "ctime": "2018-08-10T12:10:03.242Z",
        "mtime": "2018-08-05T09:58:57.623Z",
        "size": 1602807
      },
      {
        "file": "images/sindolpp.jpg",
        "ctime": "2018-08-10T12:10:03.243Z",
        "mtime": "2018-08-05T09:59:08.580Z",
        "size": 1718453
      },
      {
        "file": "images/thumbnail-acq.jpg",
        "ctime": "2018-08-05T13:14:21.813Z",
        "mtime": "2018-08-05T06:44:29.977Z",
        "size": 299243
      },
      {
        "file": "images/thumbnail-first.jpg",
        "ctime": "2018-08-10T14:50:37.360Z",
        "mtime": "2018-06-08T12:44:13.623Z",
        "size": 91439
      },
      {
        "file": "images/tulaybapp.jpg",
        "ctime": "2018-08-10T12:10:03.245Z",
        "mtime": "2018-08-05T09:59:21.676Z",
        "size": 1832680
      },
      {
        "file": "images/zamorapp.jpg",
        "ctime": "2018-08-10T12:10:03.246Z",
        "mtime": "2018-08-05T09:59:34.139Z",
        "size": 1944665
      },
      {
        "file": "inc/class.php",
        "ctime": "2018-08-04T14:25:05.004Z",
        "mtime": "2018-08-04T14:25:05.004Z",
        "size": 1798
      },
      {
        "file": "inc/custom-header.php",
        "ctime": "2018-08-04T14:25:05.006Z",
        "mtime": "2018-08-04T14:25:05.006Z",
        "size": 1995
      },
      {
        "file": "inc/customizer.php",
        "ctime": "2018-08-04T14:25:05.031Z",
        "mtime": "2018-08-04T14:25:05.031Z",
        "size": 18240
      },
      {
        "file": "inc/demo-content.php",
        "ctime": "2018-08-04T14:25:05.046Z",
        "mtime": "2018-08-04T14:25:05.046Z",
        "size": 3761
      },
      {
        "file": "inc/extras.php",
        "ctime": "2018-08-04T14:25:05.048Z",
        "mtime": "2018-08-04T14:25:05.048Z",
        "size": 713
      },
      {
        "file": "inc/jetpack.php",
        "ctime": "2018-08-04T14:25:05.050Z",
        "mtime": "2018-08-04T14:25:05.050Z",
        "size": 823
      },
      {
        "file": "inc/template-tags.php",
        "ctime": "2018-08-04T14:25:05.052Z",
        "mtime": "2018-08-04T14:25:05.052Z",
        "size": 4262
      },
      {
        "file": "inc/woocommerce-functions.php",
        "ctime": "2018-08-04T14:25:05.113Z",
        "mtime": "2018-08-04T14:25:05.113Z",
        "size": 2384
      },
      {
        "file": "inc/wp_bootstrap_navwalker.php",
        "ctime": "2018-08-04T14:25:05.115Z",
        "mtime": "2018-08-04T14:25:05.115Z",
        "size": 7782
      },
      {
        "file": "inc/demo/class-demo.php",
        "ctime": "2018-08-04T14:25:05.034Z",
        "mtime": "2018-08-04T14:25:05.034Z",
        "size": 2697
      },
      {
        "file": "inc/demo/contents.xml",
        "ctime": "2018-08-04T14:25:05.042Z",
        "mtime": "2018-08-04T14:25:05.042Z",
        "size": 147971
      },
      {
        "file": "inc/demo/customizer.dat",
        "ctime": "2018-08-04T14:25:05.044Z",
        "mtime": "2018-08-04T14:25:05.044Z",
        "size": 2307
      },
      {
        "file": "inc/demo/demo.php",
        "ctime": "2018-08-04T14:25:05.045Z",
        "mtime": "2018-08-04T14:25:05.045Z",
        "size": 1036
      },
      {
        "file": "inc/theme-info/about.php",
        "ctime": "2018-08-04T14:25:05.055Z",
        "mtime": "2018-08-04T14:25:05.055Z",
        "size": 5709
      },
      {
        "file": "inc/theme-info/class-about.php",
        "ctime": "2018-08-04T14:25:05.090Z",
        "mtime": "2018-08-04T14:25:05.090Z",
        "size": 25049
      },
      {
        "file": "inc/widgets/widgets.php",
        "ctime": "2018-08-04T14:25:05.112Z",
        "mtime": "2018-08-04T14:25:05.112Z",
        "size": 1292
      },
      {
        "file": "inc/theme-info/css/about.css",
        "ctime": "2018-08-04T14:25:05.093Z",
        "mtime": "2018-08-04T14:25:05.093Z",
        "size": 2965
      },
      {
        "file": "inc/theme-info/images/logo.png",
        "ctime": "2018-08-04T14:25:05.094Z",
        "mtime": "2018-08-04T14:25:05.094Z",
        "size": 4625
      },
      {
        "file": "inc/theme-info/js/about.js",
        "ctime": "2018-08-04T14:25:05.097Z",
        "mtime": "2018-08-04T14:25:05.097Z",
        "size": 593
      },
      {
        "file": "index.php",
        "ctime": "2018-08-10T15:56:56.509Z",
        "mtime": "2018-08-10T15:56:56.509Z",
        "size": 3551
      },
      {
        "file": "js/bootstrap-rtl.js",
        "ctime": "2018-08-04T14:25:05.138Z",
        "mtime": "2018-08-04T14:25:05.138Z",
        "size": 58458
      },
      {
        "file": "js/bootstrap.js",
        "ctime": "2018-08-04T14:25:05.162Z",
        "mtime": "2018-08-04T14:25:05.162Z",
        "size": 68954
      },
      {
        "file": "js/customizer.js",
        "ctime": "2018-08-04T14:25:05.164Z",
        "mtime": "2018-08-04T14:25:05.164Z",
        "size": 1034
      },
      {
        "file": "js/jquery.vticker.js",
        "ctime": "2018-08-04T14:25:05.166Z",
        "mtime": "2018-08-04T14:25:05.166Z",
        "size": 7394
      },
      {
        "file": "js/owl.carousel.js",
        "ctime": "2018-08-04T14:25:05.189Z",
        "mtime": "2018-08-04T14:25:05.189Z",
        "size": 85368
      },
      {
        "file": "js/script.js",
        "ctime": "2018-08-04T14:25:05.191Z",
        "mtime": "2018-08-04T14:25:05.191Z",
        "size": 3210
      },
      {
        "file": "js/wow.js",
        "ctime": "2018-08-04T14:25:05.209Z",
        "mtime": "2018-08-04T14:25:05.209Z",
        "size": 10584
      },
      {
        "file": "languages/da.mo",
        "ctime": "2018-08-04T14:25:05.218Z",
        "mtime": "2018-08-04T14:25:05.218Z",
        "size": 15260
      },
      {
        "file": "languages/da.po",
        "ctime": "2018-08-04T14:25:05.225Z",
        "mtime": "2018-08-04T14:25:05.225Z",
        "size": 23617
      },
      {
        "file": "languages/de.mo",
        "ctime": "2018-08-04T14:25:05.232Z",
        "mtime": "2018-08-04T14:25:05.232Z",
        "size": 15665
      },
      {
        "file": "languages/de.po",
        "ctime": "2018-08-04T14:25:05.238Z",
        "mtime": "2018-08-04T14:25:05.238Z",
        "size": 24218
      },
      {
        "file": "languages/en.mo",
        "ctime": "2018-08-04T14:25:05.245Z",
        "mtime": "2018-08-04T14:25:05.245Z",
        "size": 15103
      },
      {
        "file": "languages/en.po",
        "ctime": "2018-08-04T14:25:05.253Z",
        "mtime": "2018-08-04T14:25:05.253Z",
        "size": 23455
      },
      {
        "file": "languages/es.mo",
        "ctime": "2018-08-04T14:25:05.259Z",
        "mtime": "2018-08-04T14:25:05.259Z",
        "size": 15708
      },
      {
        "file": "languages/es.po",
        "ctime": "2018-08-04T14:25:05.267Z",
        "mtime": "2018-08-04T14:25:05.267Z",
        "size": 24372
      },
      {
        "file": "languages/es_ES.mo",
        "ctime": "2018-08-04T14:25:05.274Z",
        "mtime": "2018-08-04T14:25:05.274Z",
        "size": 15714
      },
      {
        "file": "languages/es_ES.po",
        "ctime": "2018-08-04T14:25:05.282Z",
        "mtime": "2018-08-04T14:25:05.282Z",
        "size": 24135
      },
      {
        "file": "languages/fr.mo",
        "ctime": "2018-08-04T14:25:05.288Z",
        "mtime": "2018-08-04T14:25:05.288Z",
        "size": 10672
      },
      {
        "file": "languages/fr.po",
        "ctime": "2018-08-04T14:25:05.294Z",
        "mtime": "2018-08-04T14:25:05.294Z",
        "size": 26800
      },
      {
        "file": "languages/it.mo",
        "ctime": "2018-08-04T14:25:05.301Z",
        "mtime": "2018-08-04T14:25:05.301Z",
        "size": 15670
      },
      {
        "file": "languages/it.po",
        "ctime": "2018-08-04T14:25:05.308Z",
        "mtime": "2018-08-04T14:25:05.308Z",
        "size": 24183
      },
      {
        "file": "languages/ja.mo",
        "ctime": "2018-08-04T14:25:05.314Z",
        "mtime": "2018-08-04T14:25:05.314Z",
        "size": 11397
      },
      {
        "file": "languages/ja.po",
        "ctime": "2018-08-04T14:25:05.320Z",
        "mtime": "2018-08-04T14:25:05.320Z",
        "size": 16661
      },
      {
        "file": "languages/magazine-newspaper.pot",
        "ctime": "2018-08-04T14:25:05.329Z",
        "mtime": "2018-08-04T14:25:05.329Z",
        "size": 18071
      },
      {
        "file": "media-front.php",
        "ctime": "2018-08-05T10:10:00.231Z",
        "mtime": "2018-08-05T10:10:00.231Z",
        "size": 1915
      },
      {
        "file": "no-featureimage.php",
        "ctime": "2018-08-04T14:25:05.332Z",
        "mtime": "2018-08-04T14:25:05.332Z",
        "size": 1284
      },
      {
        "file": "page.php",
        "ctime": "2018-08-04T14:25:05.334Z",
        "mtime": "2018-08-04T14:25:05.334Z",
        "size": 932
      },
      {
        "file": "readme.txt",
        "ctime": "2018-08-10T15:40:09.752Z",
        "mtime": "2018-08-04T14:25:05.335Z",
        "size": 4790
      },
      {
        "file": "screenshot.png",
        "ctime": "2018-08-11T02:30:33.529Z",
        "mtime": "2018-08-05T05:30:37.009Z",
        "size": 84619
      },
      {
        "file": "search.php",
        "ctime": "2018-08-04T14:25:05.341Z",
        "mtime": "2018-08-04T14:25:05.341Z",
        "size": 1257
      },
      {
        "file": "shsevents.php",
        "ctime": "2018-08-05T06:05:41.751Z",
        "mtime": "2018-08-05T06:05:41.751Z",
        "size": 894
      },
      {
        "file": "sidebar.php",
        "ctime": "2018-08-04T14:25:05.342Z",
        "mtime": "2018-08-04T14:25:05.342Z",
        "size": 229
      },
      {
        "file": "single.php",
        "ctime": "2018-08-10T15:55:07.147Z",
        "mtime": "2018-08-10T15:55:07.147Z",
        "size": 2303
      },
      {
        "file": "style-rtl.css",
        "ctime": "2018-08-04T14:25:05.351Z",
        "mtime": "2018-08-04T14:25:05.351Z",
        "size": 25354
      },
      {
        "file": "style.css",
        "ctime": "2018-08-11T03:16:35.552Z",
        "mtime": "2018-08-11T03:16:35.552Z",
        "size": 32881
      },
      {
        "file": "template-home.php",
        "ctime": "2018-08-04T14:25:05.363Z",
        "mtime": "2018-08-04T14:25:05.363Z",
        "size": 1690
      },
      {
        "file": "template-parts/content-blogs.php",
        "ctime": "2018-08-04T14:25:05.367Z",
        "mtime": "2018-08-04T14:25:05.367Z",
        "size": 2090
      },
      {
        "file": "template-parts/content-none.php",
        "ctime": "2018-08-04T14:25:05.369Z",
        "mtime": "2018-08-04T14:25:05.369Z",
        "size": 1452
      },
      {
        "file": "template-parts/content-page.php",
        "ctime": "2018-08-04T14:25:05.370Z",
        "mtime": "2018-08-04T14:25:05.370Z",
        "size": 916
      },
      {
        "file": "template-parts/content-search.php",
        "ctime": "2018-08-04T14:25:05.372Z",
        "mtime": "2018-08-04T14:25:05.372Z",
        "size": 821
      },
      {
        "file": "template-parts/content-single.php",
        "ctime": "2018-08-10T13:59:39.923Z",
        "mtime": "2018-08-10T13:59:39.923Z",
        "size": 498
      },
      {
        "file": "template-parts/content.php",
        "ctime": "2018-08-10T15:54:49.264Z",
        "mtime": "2018-08-10T15:54:49.264Z",
        "size": 1124
      },
      {
        "file": "template-parts/home-sections/archive-news.php",
        "ctime": "2018-08-10T15:52:32.044Z",
        "mtime": "2018-08-04T14:25:05.427Z",
        "size": 2814
      },
      {
        "file": "template-parts/home-sections/banner-news.php",
        "ctime": "2018-08-10T15:59:00.706Z",
        "mtime": "2018-08-10T15:59:00.706Z",
        "size": 1851
      },
      {
        "file": "template-parts/home-sections/categories-news.php",
        "ctime": "2018-08-04T14:25:05.431Z",
        "mtime": "2018-08-04T14:25:05.431Z",
        "size": 1868
      },
      {
        "file": "template-parts/home-sections/recent-news.php",
        "ctime": "2018-08-04T14:25:05.433Z",
        "mtime": "2018-08-04T14:25:05.433Z",
        "size": 1998
      },
      {
        "file": "template-parts/home-sections/top-news.php",
        "ctime": "2018-08-04T14:25:05.434Z",
        "mtime": "2018-08-04T14:25:05.434Z",
        "size": 2266
      },
      {
        "file": "trt-customize-pro/license.md",
        "ctime": "2018-08-04T14:25:05.441Z",
        "mtime": "2018-08-04T14:25:05.441Z",
        "size": 17986
      },
      {
        "file": "trt-customize-pro/readme.md",
        "ctime": "2018-08-04T14:25:05.461Z",
        "mtime": "2018-08-04T14:25:05.461Z",
        "size": 1222
      },
      {
        "file": "trt-customize-pro/magazine-newspaper/class-customize.php",
        "ctime": "2018-08-04T14:25:05.443Z",
        "mtime": "2018-08-04T14:25:05.443Z",
        "size": 2479
      },
      {
        "file": "trt-customize-pro/magazine-newspaper/customize-controls.css",
        "ctime": "2018-08-04T14:25:05.450Z",
        "mtime": "2018-08-04T14:25:05.450Z",
        "size": 510
      },
      {
        "file": "trt-customize-pro/magazine-newspaper/customize-controls.js",
        "ctime": "2018-08-04T14:25:05.458Z",
        "mtime": "2018-08-04T14:25:05.458Z",
        "size": 342
      },
      {
        "file": "trt-customize-pro/magazine-newspaper/section-pro.php",
        "ctime": "2018-08-04T14:25:05.459Z",
        "mtime": "2018-08-04T14:25:05.459Z",
        "size": 1404
      },
      {
        "file": "__MACOSX/._css",
        "ctime": "2018-08-04T14:25:05.465Z",
        "mtime": "2018-08-04T14:25:05.465Z",
        "size": 222
      },
      {
        "file": "__MACOSX/._fonts",
        "ctime": "2018-08-04T14:25:05.467Z",
        "mtime": "2018-08-04T14:25:05.467Z",
        "size": 222
      },
      {
        "file": "__MACOSX/._footer.php",
        "ctime": "2018-08-04T14:25:05.468Z",
        "mtime": "2018-08-04T14:25:05.468Z",
        "size": 176
      },
      {
        "file": "__MACOSX/._images",
        "ctime": "2018-08-04T14:25:05.469Z",
        "mtime": "2018-08-04T14:25:05.469Z",
        "size": 222
      },
      {
        "file": "__MACOSX/._inc",
        "ctime": "2018-08-04T14:25:05.471Z",
        "mtime": "2018-08-04T14:25:05.471Z",
        "size": 222
      },
      {
        "file": "__MACOSX/._index.php",
        "ctime": "2018-08-04T14:25:05.472Z",
        "mtime": "2018-08-04T14:25:05.472Z",
        "size": 176
      },
      {
        "file": "__MACOSX/._js",
        "ctime": "2018-08-04T14:25:05.473Z",
        "mtime": "2018-08-04T14:25:05.473Z",
        "size": 222
      },
      {
        "file": "__MACOSX/._languages",
        "ctime": "2018-08-04T14:25:05.474Z",
        "mtime": "2018-08-04T14:25:05.474Z",
        "size": 222
      },
      {
        "file": "__MACOSX/._screenshot.png",
        "ctime": "2018-08-04T14:25:05.475Z",
        "mtime": "2018-08-04T14:25:05.475Z",
        "size": 368
      },
      {
        "file": "__MACOSX/._template-parts",
        "ctime": "2018-08-04T14:25:05.477Z",
        "mtime": "2018-08-04T14:25:05.477Z",
        "size": 222
      },
      {
        "file": "__MACOSX/._trt-customize-pro",
        "ctime": "2018-08-04T14:25:05.478Z",
        "mtime": "2018-08-04T14:25:05.478Z",
        "size": 222
      },
      {
        "file": "__MACOSX/css/._animate.css",
        "ctime": "2018-08-04T14:25:05.480Z",
        "mtime": "2018-08-04T14:25:05.480Z",
        "size": 222
      },
      {
        "file": "__MACOSX/css/._bootstrap-rtl.css",
        "ctime": "2018-08-04T14:25:05.482Z",
        "mtime": "2018-08-04T14:25:05.482Z",
        "size": 222
      },
      {
        "file": "__MACOSX/css/._bootstrap.css",
        "ctime": "2018-08-04T14:25:05.483Z",
        "mtime": "2018-08-04T14:25:05.483Z",
        "size": 222
      },
      {
        "file": "__MACOSX/css/._font-awesome.css",
        "ctime": "2018-08-04T14:25:05.484Z",
        "mtime": "2018-08-04T14:25:05.484Z",
        "size": 222
      },
      {
        "file": "__MACOSX/fonts/._fontawesome-webfont.eot",
        "ctime": "2018-08-04T14:25:05.487Z",
        "mtime": "2018-08-04T14:25:05.487Z",
        "size": 222
      },
      {
        "file": "__MACOSX/fonts/._fontawesome-webfont.svg",
        "ctime": "2018-08-04T14:25:05.488Z",
        "mtime": "2018-08-04T14:25:05.488Z",
        "size": 222
      },
      {
        "file": "__MACOSX/fonts/._fontawesome-webfont.ttf",
        "ctime": "2018-08-04T14:25:05.490Z",
        "mtime": "2018-08-04T14:25:05.490Z",
        "size": 222
      },
      {
        "file": "__MACOSX/fonts/._fontawesome-webfont.woff",
        "ctime": "2018-08-04T14:25:05.491Z",
        "mtime": "2018-08-04T14:25:05.491Z",
        "size": 222
      },
      {
        "file": "__MACOSX/fonts/._fontawesome-webfont.woff2",
        "ctime": "2018-08-04T14:25:05.492Z",
        "mtime": "2018-08-04T14:25:05.492Z",
        "size": 222
      },
      {
        "file": "__MACOSX/fonts/._FontAwesome.otf",
        "ctime": "2018-08-04T14:25:05.494Z",
        "mtime": "2018-08-04T14:25:05.494Z",
        "size": 222
      },
      {
        "file": "__MACOSX/fonts/._glyphicons-halflings-regular.eot",
        "ctime": "2018-08-04T14:25:05.495Z",
        "mtime": "2018-08-04T14:25:05.495Z",
        "size": 222
      },
      {
        "file": "__MACOSX/fonts/._glyphicons-halflings-regular.svg",
        "ctime": "2018-08-04T14:25:05.497Z",
        "mtime": "2018-08-04T14:25:05.497Z",
        "size": 222
      },
      {
        "file": "__MACOSX/fonts/._glyphicons-halflings-regular.ttf",
        "ctime": "2018-08-04T14:25:05.499Z",
        "mtime": "2018-08-04T14:25:05.499Z",
        "size": 222
      },
      {
        "file": "__MACOSX/fonts/._glyphicons-halflings-regular.woff",
        "ctime": "2018-08-04T14:25:05.500Z",
        "mtime": "2018-08-04T14:25:05.500Z",
        "size": 222
      },
      {
        "file": "__MACOSX/fonts/._glyphicons-halflings-regular.woff2",
        "ctime": "2018-08-04T14:25:05.502Z",
        "mtime": "2018-08-04T14:25:05.502Z",
        "size": 222
      },
      {
        "file": "__MACOSX/images/._1.jpg",
        "ctime": "2018-08-04T14:25:05.504Z",
        "mtime": "2018-08-04T14:25:05.504Z",
        "size": 528
      },
      {
        "file": "__MACOSX/images/._2.jpg",
        "ctime": "2018-08-04T14:25:05.505Z",
        "mtime": "2018-08-04T14:25:05.505Z",
        "size": 530
      },
      {
        "file": "__MACOSX/images/._3.jpg",
        "ctime": "2018-08-04T14:25:05.506Z",
        "mtime": "2018-08-04T14:25:05.506Z",
        "size": 528
      },
      {
        "file": "__MACOSX/images/._4.jpg",
        "ctime": "2018-08-04T14:25:05.508Z",
        "mtime": "2018-08-04T14:25:05.508Z",
        "size": 527
      },
      {
        "file": "__MACOSX/images/._arrow.png",
        "ctime": "2018-08-04T14:25:05.509Z",
        "mtime": "2018-08-04T14:25:05.509Z",
        "size": 211
      },
      {
        "file": "__MACOSX/images/._no-blog-thumbnail.jpg",
        "ctime": "2018-08-04T14:25:05.510Z",
        "mtime": "2018-08-04T14:25:05.510Z",
        "size": 357
      },
      {
        "file": "__MACOSX/js/._bootstrap-rtl.js",
        "ctime": "2018-08-04T14:25:05.517Z",
        "mtime": "2018-08-04T14:25:05.517Z",
        "size": 222
      },
      {
        "file": "__MACOSX/js/._bootstrap.js",
        "ctime": "2018-08-04T14:25:05.519Z",
        "mtime": "2018-08-04T14:25:05.519Z",
        "size": 222
      },
      {
        "file": "__MACOSX/js/._customizer.js",
        "ctime": "2018-08-04T14:25:05.520Z",
        "mtime": "2018-08-04T14:25:05.520Z",
        "size": 222
      },
      {
        "file": "__MACOSX/js/._script.js",
        "ctime": "2018-08-04T14:25:05.521Z",
        "mtime": "2018-08-04T14:25:05.521Z",
        "size": 222
      },
      {
        "file": "__MACOSX/js/._wow.js",
        "ctime": "2018-08-04T14:25:05.523Z",
        "mtime": "2018-08-04T14:25:05.523Z",
        "size": 222
      },
      {
        "file": "__MACOSX/languages/._da.mo",
        "ctime": "2018-08-04T14:25:05.526Z",
        "mtime": "2018-08-04T14:25:05.526Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._da.po",
        "ctime": "2018-08-04T14:25:05.529Z",
        "mtime": "2018-08-04T14:25:05.529Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._de.mo",
        "ctime": "2018-08-04T14:25:05.530Z",
        "mtime": "2018-08-04T14:25:05.530Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._de.po",
        "ctime": "2018-08-04T14:25:05.532Z",
        "mtime": "2018-08-04T14:25:05.532Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._en.mo",
        "ctime": "2018-08-04T14:25:05.534Z",
        "mtime": "2018-08-04T14:25:05.534Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._en.po",
        "ctime": "2018-08-04T14:25:05.535Z",
        "mtime": "2018-08-04T14:25:05.535Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._es.mo",
        "ctime": "2018-08-04T14:25:05.537Z",
        "mtime": "2018-08-04T14:25:05.537Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._es.po",
        "ctime": "2018-08-04T14:25:05.539Z",
        "mtime": "2018-08-04T14:25:05.539Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._es_ES.mo",
        "ctime": "2018-08-04T14:25:05.540Z",
        "mtime": "2018-08-04T14:25:05.540Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._es_ES.po",
        "ctime": "2018-08-04T14:25:05.541Z",
        "mtime": "2018-08-04T14:25:05.541Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._fr.mo",
        "ctime": "2018-08-04T14:25:05.542Z",
        "mtime": "2018-08-04T14:25:05.542Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._fr.po",
        "ctime": "2018-08-04T14:25:05.543Z",
        "mtime": "2018-08-04T14:25:05.543Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._it.mo",
        "ctime": "2018-08-04T14:25:05.545Z",
        "mtime": "2018-08-04T14:25:05.545Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._it.po",
        "ctime": "2018-08-04T14:25:05.547Z",
        "mtime": "2018-08-04T14:25:05.547Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._ja.mo",
        "ctime": "2018-08-04T14:25:05.549Z",
        "mtime": "2018-08-04T14:25:05.549Z",
        "size": 210
      },
      {
        "file": "__MACOSX/languages/._ja.po",
        "ctime": "2018-08-04T14:25:05.550Z",
        "mtime": "2018-08-04T14:25:05.550Z",
        "size": 210
      },
      {
        "file": "__MACOSX/template-parts/._content.php",
        "ctime": "2018-08-04T14:25:05.552Z",
        "mtime": "2018-08-04T14:25:05.552Z",
        "size": 176
      },
      {
        "file": "__MACOSX/trt-customize-pro/._license.md",
        "ctime": "2018-08-04T14:25:05.554Z",
        "mtime": "2018-08-04T14:25:05.554Z",
        "size": 222
      },
      {
        "file": "__MACOSX/inc/demo/._contents.xml",
        "ctime": "2018-08-04T14:25:05.513Z",
        "mtime": "2018-08-04T14:25:05.513Z",
        "size": 784
      },
      {
        "file": "__MACOSX/inc/demo/._customizer.dat",
        "ctime": "2018-08-04T14:25:05.515Z",
        "mtime": "2018-08-04T14:25:05.515Z",
        "size": 705
      },
      {
        "file": "steel-template-default.php",
        "ctime": "2018-08-10T13:14:26.606Z",
        "mtime": "2018-08-10T13:14:26.606Z",
        "size": 277
      },
      {
        "file": "about-template.php",
        "ctime": "2018-08-11T02:50:35.469Z",
        "mtime": "2018-08-11T02:50:35.469Z",
        "size": 1152
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}